<form>
  <h2>Cadastro de Filmes</h2>

  <div>
    <label for="codebar">Código de Barras</label>
    <input id="codebar" type="number">
  </div>

  <div>
    <label for="title">Título</label>
    <input id="title" type="text">
  </div>

  <div>
    <label for="duration">Duração</label>
    <input id="duration" type="number">
  </div>

  <div>
    <label for="rating">Classificação</label>
    <input id="rating" type="number">
  </div>

  <div>
    <label for="gender">Gênero</label>
    <input id="gender" type="text">
  </div>

  <button>Cadastrar</button>

</form>
